<h1>Edit User</h1>

<%= simple_form_for @user, html: { multipart: true } do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.simple_fields_for :profile do |profile_fields| %>
    <%= profile_fields.input :avatar, as: :file %>
  <% end %>
  <%= f.button :submit, 'Save changes', class:"btn btn-primary" %>
<% end %>
