<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= favicon_link_tag asset_path('favicon.png'), rel: "icon" %>
    <% favicon_link_tag asset_path('favicon.png'), rel: "apple-touch-icon" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= stylesheet_link_tag "theme", "data-turbo-track": "reload" %>
    <!-- Google Fonts -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "theme", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <div> Welcome <%= current_user.email %> </div>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= button_to "Sign in", new_user_session_path %>
    <% end %>
    <%= yield %>
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-3 mb-md-0 text-muted">&copy; Jumfit <%= Time.now.year %> (Незаконное распространение любых материалов сайта портит карму)</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="bi bi-instagram"></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
